<h1>Menu</h1>

<form #menuForm="ngForm" (ngSubmit)="createMenu(menuForm)">
  <input
    type="text"
    name="name"
    ngModel
    placeholder="Menu Name"
    required
    #name="ngModel"
  />
  <div *ngIf="name.invalid && name.touched">Menu name is required</div>

  <input
    type="number"
    name="price"
    ngModel
    placeholder="Price"
    required
    #price="ngModel"
  />
  <div *ngIf="price.invalid && price.touched">Price is required</div>

  <button type="submit" [disabled]="menuForm.invalid">Add Menu</button>
</form>

<section>
  <table border="1" class="table table-striped">
    <thead>
      <tr>
        <th>Menu Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menu of menus">
        <td>{{ menu.name }}</td>
        <td>{{ menu.price }}</td>
        <td>
          <button (click)="getMenuDetails(menu.menu_uuid)">View</button>
          <button (click)="updateMenu(menu.menu_uuid, menu)">Update</button>
          <button (click)="deleteMenu(menu.menu_uuid)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
